@media screen and (max-width: 768px)
    .dropdown-menu
        width: 100%
        // background none !important
        // a
        //     background none !important
    .navbar-collapse
        background: rgba(61,43,72,0.85)

.navbar
    background: rgb(61, 43, 72)//rgba(61,43,72,0.85)
    border-radius: 0
    height: 50px
    border: none
    font-family: 'Lobster', cursive
    
    
    .navbar-collapse
        border: none
        // background rgba(61,43,72,0.85) !important
        text-align center
    
    &.navbar-default
        .navbar-nav > li > a:hover,
        .navbar-nav > li > a:focus
            color: #FFC7E9
            
        .navbar-nav > .open > a,
        .navbar-nav > .open > a:focus,
        .navbar-nav > .open > a:hover
            background: none

        .navbar-nav
            > li
                a
                    color: white
                    padding-left: 10px
                    padding-right: 10px
                .dropdown-menu
                    text-align: center
                    background: rgba(138, 95, 167, 0.64)
                    min-width: 118px
                    > .active > a,
                    > .active > a:focus,
                    > .active > a:hover
                        color: #FCFFA5
                        background: none
                    > li
                        
                        > a
                            font-size: 18px//12px
                            padding-top: 10px
                            padding-bottom: 10px
                            color: white 
                            
                        > a:focus,
                        > a:hover
                            background: none
                            color: #FFC7E9 
                a
                    font-size: 20px //14px
                    letter-spacing: 1.5px
                    font-weight: 400
                    // text-transform: uppercase
                a:hover
                    color: #FFC7E9
                
                &:focus
                    color: #FFC7E9
                    
                &.active
                    a
                        color: #FFFDBA
                        background: none
                        &:hover
                            background: none
                            color: #FFFDBA

// hanburger menu
.navbar-default .navbar-header .navbar-toggle
    border-color: #FFA0DC
    background: #FFA0DC
    transition: all 0.1s ease-in-out
    .icon-bar
        background: #1D0A29

    &.collapsed
        background: none
        .icon-bar
            background: #FFA0DC

@media screen and (min-width: 768px)
    .dropdown
        .dropdown-menu
            background: rgba(61,43,72,0.85) !important
            // transition: all 0.3s ease-in-out

    .dropdown:hover .dropdown-menu
        display: block
        margin-top: 0
    .dropdown-menu
        a
            padding: 5px !important

@media screen and (max-width: 767px)
    .navbar-nav
        a
            padding: 15px !important
        .dropdown-menu
            a
                font-size: 18px !important
                padding: 10px !important

@media screen and (min-width: 994px)
    .navbar-nav
        .dropdown-menu
            a
                font-size: 18px !important

$speed = 200ms
$easing = cubic-bezier(0.7, 0, 0, 0.7)

.navbar-toggle
    overflow: hidden

    .icon-bar
        transition: opacity, transform
        transition-duration: $speed
        transition-timing-function: $easing

    &:not(.collapsed)
        .icon-bar
            &:nth-child(1)
                transform: translateY(6px) rotate(45deg)
            &:nth-child(2)
                opacity: 0
                transform: translateX(-100%)
            &:nth-child(3)
                transform: translateY(-6px) rotate(-45deg)