@media screen and (max-width: 768px)
    .dropdown-menu
        width: 100%
    .navbar-collapse
        background: #f8f8f8

.navbar
    border-bottom: 1px solid #a9a9a9 !important
    background: #f8f8f8
    border-radius: 0
    margin-bottom: 0
    height: 50px
    border: none
    font-family: 'Roboto Slab', cursive
    
    
    .navbar-collapse
        border: none
        text-align center
    
    &.navbar-default
        .navbar-nav > li > a:hover,
        .navbar-nav > li > a:focus
            
        .navbar-nav > .open > a,
        .navbar-nav > .open > a:focus,
        .navbar-nav > .open > a:hover
            background: none

        .navbar-nav
            > li
                a
                    color: black
                    padding-left: 10px
                    padding-right: 10px
                    padding-bottom: 14px
                .dropdown-menu
                    text-align: center
                    min-width: 118px
                    > .active > a,
                    > .active > a:focus,
                    > .active > a:hover
                        background: $gray
                    > li
                        
                        > a
                            font-size: 14px
                            padding-top: 10px
                            padding-bottom: 10px
                            color: white 
                            background: none
                            
                        > a:focus,
                        > a:hover
                            background: $gray

                a
                    font-size: 16px
                    letter-spacing: 1.0px
                a:hover
                    background: $gray
                
                &:focus
                    background: $gray
                    
                &.active
                    a
                        background: $gray
                        &:hover
                            background: $gray

// hanburger menu
.navbar-default .navbar-header .navbar-toggle
    background none 
    border-color: black
    transition: all 0.1s ease-in-out
    .icon-bar
        color: black !important
        background: black

    &.collapsed
        background: none

@media screen and (min-width: 768px)
    .dropdown
        .dropdown-menu
            background: $lightGray !important

    .dropdown:hover .dropdown-menu
        display: block
        margin-top: 0
    .dropdown-menu
        a
            color: black !important
            padding: 5px !important

@media screen and (max-width: 767px)
    .navbar-collapse
        border-bottom: 1px solid #a9a9a9 !important
    .navbar-nav
        a
            padding: 15px !important
        .dropdown-menu
            background $darkGray !important
            a
                padding: 10px !important

$speed = 200ms
$easing = cubic-bezier(0.7, 0, 0, 0.7)

.navbar-toggle
    overflow: hidden

    .icon-bar
        transition: opacity, transform
        transition-duration: $speed
        transition-timing-function: $easing

    &:not(.collapsed)
        .icon-bar
            &:nth-child(1)
                transform: translateY(6px) rotate(45deg)
            &:nth-child(2)
                opacity: 0
                transform: translateX(-100%)
            &:nth-child(3)
                transform: translateY(-6px) rotate(-45deg)