.comments {
  margin-top: 50px; }

.Video {
  margin: 30px 0 50px 0; }

h5 {
  font-weight: bold; }

.thumb {
  width: 300px; }

.Video__heading {
  margin: 0 0 10px 0;
  color: white; }

.Video__description {
  font-size: 16px;
  font-weight: 300; }

.Video__button {
  float: right;
  margin: 10px 0 30px;
  background-color: #4CAF50;
  border: none;
  color: white; }
  .Video__button:hover, .Video__button:active, .Video__button:focus {
    background-color: #1E8C22;
    color: white; }
  .Video__button--lecture {
    background-color: #8400D6; }
    .Video__button--lecture:hover, .Video__button--lecture:active, .Video__button--lecture:focus {
      background-color: #5B0691;
      color: white; }

#ohsnap {
  position: fixed;
  bottom: 5px;
  right: 5px;
  margin: 0;
  z-index: 10000000001; }

.alert {
  text-align: right;
  padding: 15px;
  margin: 0 0 5px 0;
  border-radius: 0;
  float: right;
  clear: right;
  color: white;
  font-size: 14px; }

.alert-red {
  background-color: red; }

.alert-green {
  background-color: green; }

video {
  padding: 0;
  margin: 0 auto;
  display: block; }

.video-section {
  padding: 0;
  margin: 0;
  background: yellow; }

.video-js {
  margin: 30px auto 0; }

.video-heading {
  padding: 80px 0 0;
  margin: 0;
  margin-top: 50px;
  color: #FF5757 !important;
  font-weight: bold; }

.main-heading {
  color: #ff5757;
  font-weight: bold; }

.comments__heading {
  color: #0B4975; }

body {
  font-family: 'Roboto Slab', serif; }

.modal-actions i {
  color: green;
  visibility: hidden; }

h2 {
  text-align: center;
  font-weight: normal; }

.main-heading,
.email-heading {
  color: #575757; }

button {
  color: white; }
  button:hover, button:active, button:focus {
    color: white; }

.error {
  color: red;
  display: block;
  font-size: 16px;
  text-align: right; }

h3 {
  text-align: left;
  font-size: 30px;
  font-weight: normal; }

.centered {
  text-align: center; }

.last-link {
  padding-right: 0; }

.space {
  width: 300px;
  height: 300px;
  border-radius: 50%; }

.description {
  font-size: 20px;
  margin-bottom: 50px; }

.program-list {
  list-style: square;
  font-size: 20px;
  text-align: left;
  margin-top: 25px; }

.mail-img {
  margin: 0 auto 50px;
  display: block;
  width: 300px; }

.link-button {
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  padding-top: 10px;
  cursor: pointer;
  width: 300px;
  height: 50px;
  display: inline-block; }

h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 0; }
  h1 span {
    color: #0B4975;
    font-weight: bold; }

.section {
  padding: 50px 30px; }

.section-main {
  padding: 0;
  background: #2d7198;
  height: 100vh; }

.section-orange {
  background-color: #FF5200;
  color: white; }
  .section-orange .Video__heading {
    color: white; }

.section-blue {
  background-color: #505050;
  color: white; }
  .section-blue .description {
    font-weight: 300; }

.section-email {
  background: white; }

.book-icon {
  width: 300px; }

.books-block {
  margin-top: 50px; }

.section-red {
  background: #F14040;
  font-size: 26px;
  color: white; }

.section-brown {
  background: #723737;
  font-size: 26px;
  color: white; }

.section-purple {
  background: #3F51B5;
  color: white;
  font-weight: 300; }

.price {
  color: #42F742;
  font-weight: bold; }

.section-dark-blue {
  background-color: #0C2232; }

.payment-button {
  background-color: #56D056;
  margin-right: 20px; }
  .payment-button:hover {
    background-color: #36BE36;
    color: white; }

.register-button {
  background-color: #56D056;
  margin-right: 20px; }
  .register-button:hover {
    background-color: #36BE36;
    color: white; }

.login-button {
  margin: 0;
  background-color: #FFCB0D; }
  .login-button:hover {
    background-color: #EBBA06;
    color: white; }

.email-button {
  margin: 0;
  background-color: #03A9F4; }
  .email-button:hover {
    background-color: #0389C6;
    color: white; }

.main-button {
  margin: 50px 0 0 0;
  background-color: #FF5757; }
  .main-button:hover {
    background-color: #FF3333;
    color: white; }

.download-button {
  margin-bottom: 50px;
  font-size: 16px;
  width: 200px !important;
  height: 35px !important;
  background-color: #0BC10B; }
  .download-button:hover {
    background-color: #0aa90a;
    color: white; }

.account-buttons {
  margin-top: 50px; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0B4975;
  height: 50px;
  z-index: 1000;
  overflow: hidden;
  transition: all 0.3s ease-in-out; }
  nav a {
    color: white; }
    nav a:hover {
      color: #78D5FF; }

.hamburger-button {
  display: none;
  padding: 0;
  margin: 3px 0;
  border: none;
  color: white;
  font-size: 28px; }
  .hamburger-button:hover {
    color: #33C3F0; }
  .hamburger-button:active, .hamburger-button:focus {
    color: white; }

.nav-inner {
  height: 50px;
  padding-top: 3px; }

.nav-list {
  margin: 0;
  padding: 0;
  height: 50px; }

.nav-list-item {
  display: inline-block;
  padding: 0;
  margin: 0; }
  .nav-list-item .active {
    color: #78D5FF; }

a {
  text-decoration: none; }

.nav-list-link {
  padding: 6px 10px;
  font-weight: normal;
  font-size: 20px;
  display: inline-block; }

.logo {
  font-size: 28px;
  font-weight: bold;
  display: inline-block; }

.logo-icon {
  margin-right: 10px;
  color: #FFCB0D; }

.social-list {
  list-style: none;
  margin: 0;
  padding: 20px 0; }

.social-list-item {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 10px; }

input,
textarea,
select,
fieldset {
  margin-bottom: 10px; }

.modal-actions {
  text-align: right;
  margin-top: 10px; }

.remodal-cancel {
  margin-right: 10px; }

.remodal {
  max-width: 500px;
  padding-bottom: 0; }

.remodal-cancel,
.remodal-confirm {
  height: 40px;
  color: white;
  padding: 10px 10px 35px; }
  .remodal-cancel:hover,
  .remodal-confirm:hover {
    color: white; }

.modal-form {
  text-align: left; }

.social-list-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 24px;
  border-radius: 50%;
  border: 2px solid silver;
  color: silver;
  line-height: 2; }
  .social-list-link:hover {
    border-color: white;
    color: #0C2232;
    background: white; }
  .social-list-link i {
    padding-top: 12px; }

.copyright {
  padding: 10px 0 20px;
  font-weight: 100;
  color: silver; }

@media screen and (min-width: 850px) {
  main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; }
  .nav-list {
    float: right; } }

@media screen and (max-width: 850px) {
  nav.open {
    height: 90px; }
  .nav-list {
    float: none;
    text-align: center; }
  .open {
    height: auto; }
  .hamburger-button {
    display: inline-block; }
  .register-button {
    margin: 0 0 20px 0; }
  .nav-list-link {
    font-size: 16px; }
  main {
    padding: 70px 0;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; } }

/*# sourceMappingURL=app.css.map */
