html {
  height: 100%; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100%; }

.visible {
  opacity: 1 !important;
  left: 0 !important; }

.scaled {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important; }

@media only screen and (max-width: 920px) {
  .video + h3 {
    margin-bottom: 40px; } }

@media only screen and (min-width: 768px) {
  .navbar.navbar-animated {
    background: rgba(29, 10, 41, 0) !important;
    transition: padding 0.5s ease-in-out, background 0.5s ease-in-out, border-color 0.5s ease-in-out;
    padding: 25px 0; }
  .navbar.navbar-animated.compact-navbar {
    background: rgba(29, 10, 41, 0.75) !important;
    padding: 0 !important; }
  .bootstrap-select {
    width: 90% !important; } }

@media only screen and (max-width: 480px) {
  .bootstrap-select {
    min-width: 300px !important; }
  header .header-content h1 {
    font-size: 28px; }
  header .header-content #quote {
    font-size: 20px; }
  div.bounce {
    bottom: 20px; }
  div.wrapper {
    padding: 50px 0; }
  #main-avatar {
    transition: opacity 0.5s ease-in-out; }
  #about-info {
    transition: opacity 0.5s ease-in-out;
    padding-top: 25px; }
  .video {
    transition: opacity 0.8s ease-in-out; }
  .post {
    transition: opacity 0.8s ease-in-out;
    left: 0; }
  .visible {
    opacity: 1;
    left: 0; }
  .page-content h1 {
    text-align: center !important;
    float: none !important; }
  .search {
    max-width: 300px;
    margin: 0 auto;
    text-align: center !important; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .bootstrap-select {
    min-width: 300px !important; }
  header .header-content h1 {
    font-size: 36px; }
  header .header-content #quote {
    font-size: 28px; }
  div.bounce {
    bottom: 20px; }
  div.wrapper {
    padding: 50px 0; }
  #main-avatar {
    transition: opacity 0.5s ease-in-out;
    left: 0; }
  #about-info {
    transition: opacity 0.5s ease-in-out;
    left: 0;
    padding-top: 25px; }
  .video {
    transition: opacity 0.8s ease-in-out; }
  .post {
    transition: opacity 0.8s ease-in-out;
    left: 0; }
  .visible {
    opacity: 1;
    left: 0; }
  .page-content h1 {
    float: none !important;
    text-align: center !important; }
  .search {
    max-width: 300px;
    margin: 0 auto;
    text-align: center !important; } }

@media only screen and (min-width: 768px) and (max-width: 920px) {
  header .header-content h1 {
    font-size: 48px; }
  header .header-content #quote {
    font-size: 40px; }
  #navbar .navbar-nav > li > a {
    font-size: 14px;
    letter-spacing: 1.5px; }
  div.bounce {
    bottom: 20px; }
  div.wrapper {
    padding: 50px 0; }
  #main-avatar {
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    left: -100px; }
  #about-info {
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    left: 100px; }
  .video {
    transition: left 0.5s ease-in-out, opacity 0.8s ease-in-out; }
  .video1 {
    left: -100px; }
  .video2 {
    left: 100px; }
  .video3 {
    left: 0; }
  .post {
    transition: left 0.5s ease-in-out, opacity 0.8s ease-in-out; }
  .post1 {
    left: -100px; }
  .post2 {
    left: 100px; }
  .post3 {
    left: 0; }
  .visible {
    opacity: 1;
    left: 0; } }

@media only screen and (min-width: 920px) and (max-width: 1200px) {
  div.wrapper {
    padding: 50px 0; }
  #main-avatar {
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    left: -100px; }
  #about-info {
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    left: 100px;
    padding-top: 0; }
  .video,
  .post {
    transition: left 0.5s ease-in-out, opacity 0.8s ease-in-out; }
  .video1 {
    left: -100px; }
  .video2 {
    left: 0; }
  .video3 {
    left: 100px; }
  .post1 {
    left: -100px; }
  .post2 {
    left: 0; }
  .post3 {
    left: 100px; }
  .visible {
    opacity: 1 !important;
    left: 0; } }

@media only screen and (min-width: 1200px) {
  #main-avatar {
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    left: -100px; }
  #about-info {
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    left: 100px;
    padding-top: 0; }
  .video,
  .post {
    transition: left 0.5s ease-in-out, opacity 0.8s ease-in-out; }
  .video1 {
    left: -100px; }
  .video2 {
    left: 0; }
  .video3 {
    left: 100px; }
  .post1 {
    left: -100px; }
  .post2 {
    left: 0; }
  .post3 {
    left: 100px; }
  .visible {
    opacity: 1;
    left: 0; } }

.logo {
  color: white !important;
  font-weight: bold;
  font-style: italic;
  font-size: 32px;
  margin-top: 5px; }
  .logo:hover {
    color: #FFC7E9 !important; }

hr {
  max-width: 100px;
  margin: 25px auto;
  border-top: 6px solid white; }

body {
  font-family: 'Roboto Slab', serif;
  background: #6A4388; }

header {
  position: relative;
  min-height: 600px;
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  header h1 {
    display: none;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    color: #FEFB8E;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px black; }
  header #quote {
    text-align: center;
    font-size: 36px;
    color: white; }

.about-me-wrapper {
  background: #F5E7FF; }
  .about-me-wrapper .about-me {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6; }
    .about-me-wrapper .about-me h1 {
      text-align: center;
      color: #483358; }
    .about-me-wrapper .about-me hr {
      border-top: 7px solid #AC77D4; }
    .about-me-wrapper .about-me > div:first-child {
      text-align: center; }
    .about-me-wrapper .about-me #main-avatar {
      opacity: 0;
      display: inline-block;
      position: relative;
      top: 0; }
      .about-me-wrapper .about-me #main-avatar:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: inset 0 0 0 15px rgba(50, 32, 61, 0.3); }
    .about-me-wrapper .about-me #about-info {
      text-align: left !important;
      opacity: 0;
      position: relative;
      top: 0; }

@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; } }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background: rgba(29, 10, 41, 0.75);
  border: none;
  border-radius: 0; }
  .navbar.navbar-default .navbar-nav > li > a:hover,
  .navbar.navbar-default .navbar-nav > li > a:focus {
    color: #FFC7E9; }
  .navbar.navbar-default .navbar-nav > .open > a,
  .navbar.navbar-default .navbar-nav > .open > a:focus,
  .navbar.navbar-default .navbar-nav > .open > a:hover {
    background: none; }
  .navbar #navbar {
    border: none; }
  .navbar .nav {
    text-align: center; }
    .navbar .nav li a {
      padding-top: 20px;
      padding-bottom: 20px; }
  .navbar .navbar-nav > li .dropdown-menu {
    background: rgba(29, 10, 41, 0.75); }
    .navbar .navbar-nav > li .dropdown-menu > .active > a,
    .navbar .navbar-nav > li .dropdown-menu > .active > a:focus,
    .navbar .navbar-nav > li .dropdown-menu > .active > a:hover {
      color: #FCFFA5;
      background: none; }
    .navbar .navbar-nav > li .dropdown-menu > li > a:focus,
    .navbar .navbar-nav > li .dropdown-menu > li > a:hover {
      background: none;
      color: #FFC7E9; }
  .navbar .navbar-nav > li a {
    color: white;
    font-size: 14px;
    letter-spacing: 1.8px;
    font-weight: 400;
    text-transform: uppercase; }
  .navbar .navbar-nav > li a:hover {
    color: #FFC7E9; }
  .navbar .navbar-nav > li:focus {
    color: #FFC7E9; }
  .navbar .navbar-nav > li.active a {
    color: #FFFDBA;
    background: none; }
    .navbar .navbar-nav > li.active a:hover {
      background: none;
      color: #FFFDBA; }

.video-block-wrapper {
  background: #6A4388;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  position: relative; }
  .video-block-wrapper h1 {
    color: #FCFFA5; }
  .video-block-wrapper #portrait {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%; }
  .video-block-wrapper .video-block > div {
    text-align: center; }
  .video-block-wrapper .video-block .video {
    overflow: hidden;
    position: relative;
    display: inline-block;
    top: 0;
    width: 300px;
    background: white;
    margin: 0 auto 20px;
    opacity: 0;
    cursor: pointer; }
    .video-block-wrapper .video-block .video:hover i {
      color: red; }
  .video-block-wrapper .video-block button {
    background: #C55D9F;
    font-size: 24px; }

.page-content .video h3,
.page-content .book h3,
.page-content .disk h3,
.video-block .video h3,
.video-block .book h3,
.video-block .disk h3 {
  margin: 0;
  padding: 15px;
  background: #FFF;
  text-align: left;
  color: black;
  font-size: 20px; }
  .page-content .video h3 i,
  .page-content .book h3 i,
  .page-content .disk h3 i,
  .video-block .video h3 i,
  .video-block .book h3 i,
  .video-block .disk h3 i {
    transition: color 0.1s ease-in-out;
    color: #6A4388; }

footer {
  width: 100%;
  background: #18131D;
  padding: 20px 0;
  font-size: 22px; }
  footer .item {
    height: 95px;
    padding: 20px 0;
    text-align: center;
    color: #978DBB; }
    footer .item i {
      color: #FFA0DC;
      font-size: 36px;
      margin-right: 5px; }
    footer .item:last-child {
      line-height: 1;
      border-right: none; }
  footer #email-link {
    color: #978DBB; }
  footer .social-icons-list {
    padding: 0; }
    footer .social-icons-list li {
      cursor: pointer;
      display: inline-block;
      width: 45px;
      height: 45px;
      background: #978DBB;
      border-radius: 50%;
      margin-right: 20px;
      padding: 10px 0 0 5px; }
      footer .social-icons-list li:hover {
        background: #FFA0DC; }
      footer .social-icons-list li:last-child {
        margin-right: 0; }
      footer .social-icons-list li i {
        color: #1a1335;
        font-size: 28px; }
  footer #copyright {
    font-size: 16px; }

.centered {
  text-align: center; }

.posts-wrapper {
  background: #F5E7FF; }
  .posts-wrapper .posts {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6; }
    .posts-wrapper .posts .post {
      opacity: 0; }
    .posts-wrapper .posts .post-thumbnail {
      margin: 0;
      display: inline-block; }
    .posts-wrapper .posts .post-info {
      height: 360px;
      text-align: left;
      width: 100%;
      background: #FFF;
      padding: 20px;
      font-size: 16px;
      max-width: 400px;
      margin: 0 0 30px 0;
      display: inline-block; }
      .posts-wrapper .posts .post-info .short-content {
        max-height: 100px;
        overflow: hidden; }
      .posts-wrapper .posts .post-info h3 {
        min-height: 52px; }
      .posts-wrapper .posts .post-info button {
        float: right;
        margin: 10px 0;
        background: #49BF97;
        border-color: #49BF97; }
        .posts-wrapper .posts .post-info button:hover {
          background: #1A986D;
          border-color: #1A986D; }
    .posts-wrapper .posts .post-meta-info {
      color: #909090;
      font-size: 16px;
      border-bottom: 1px solid #CCCCCC;
      margin-top: 20px;
      padding-bottom: 5px; }
    .posts-wrapper .posts hr {
      border-top: 7px solid #AC77D4; }
    .posts-wrapper .posts #main-avatar {
      display: inline-block;
      position: relative; }
      .posts-wrapper .posts #main-avatar:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: inset 0 0 0 15px rgba(0, 0, 0, 0.3); }

.books-and-disks-block .container #books-block {
  margin-bottom: 50px; }

.books-and-disks-block .book,
.books-and-disks-block .disk {
  cursor: pointer;
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.15, 1.3);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.15, 1.3);
  -webkit-transform: scale(0);
  transform: scale(0); }

.books-and-disks-block h1 {
  color: white;
  text-align: center; }

.books-and-disks-block img {
  display: inline; }

.books-and-disks-block .book:hover .item-info,
.books-and-disks-block .disk:hover .item-info {
  color: #FCFFA5; }

.books-and-disks-block .item-info {
  color: white; }
  .books-and-disks-block .item-info p {
    font-size: 16px; }

.email-block,
.login-block,
.register-block,
.email-reset-block,
.reset-password-block {
  background: #6A4388; }
  .email-block h1,
  .login-block h1,
  .register-block h1,
  .email-reset-block h1,
  .reset-password-block h1 {
    text-align: center;
    color: #FCFFA5; }
  .email-block input,
  .email-block textarea,
  .login-block input,
  .login-block textarea,
  .register-block input,
  .register-block textarea,
  .email-reset-block input,
  .email-reset-block textarea,
  .reset-password-block input,
  .reset-password-block textarea {
    width: 100%;
    margin-bottom: 30px;
    height: 50px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 24px; }
    .email-block input:focus,
    .email-block textarea:focus,
    .login-block input:focus,
    .login-block textarea:focus,
    .register-block input:focus,
    .register-block textarea:focus,
    .email-reset-block input:focus,
    .email-reset-block textarea:focus,
    .reset-password-block input:focus,
    .reset-password-block textarea:focus {
      outline: none !important; }
  .email-block textarea,
  .login-block textarea,
  .register-block textarea,
  .email-reset-block textarea,
  .reset-password-block textarea {
    height: 200px; }
  .email-block button,
  .login-block button,
  .register-block button,
  .email-reset-block button,
  .reset-password-block button {
    display: block;
    margin: 0 auto;
    border: 1px solid #A894B7;
    padding: 0 20px;
    height: 50px;
    width: 100%;
    background: none;
    color: #A894B7;
    font-size: 22px; }
    .email-block button:hover,
    .login-block button:hover,
    .register-block button:hover,
    .email-reset-block button:hover,
    .reset-password-block button:hover {
      color: #FCFFA5;
      border-color: #FCFFA5; }

.bounce {
  display: none;
  font-size: 48px;
  font-weight: 100;
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -25px;
  border-radius: 50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  padding-left: 12.5px;
  color: #D7B3F3; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

.navbar-default .navbar-header .navbar-toggle {
  border-color: #FFA0DC;
  background: #FFA0DC;
  transition: all 0.1s ease-in-out; }
  .navbar-default .navbar-header .navbar-toggle .icon-bar {
    background: #1D0A29; }
  .navbar-default .navbar-header .navbar-toggle.collapsed {
    background: none; }
    .navbar-default .navbar-header .navbar-toggle.collapsed .icon-bar {
      background: #FFA0DC; }

.videos-content {
  background: url(../img/background3__.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat; }

.books-content .book {
  overflow: hidden;
  position: relative;
  display: inline-block;
  top: 0;
  width: 200px;
  background: white;
  margin: 0 auto 20px;
  opacity: 0;
  cursor: pointer; }
  .books-content .book h3 {
    margin-top: 0;
    text-align: center; }

.page-content.book-content,
.page-content.post-content {
  font-size: 18px;
  font-weight: 100;
  color: #EBE6EF;
  line-height: 1.6;
  letter-spacing: 1px; }
  .page-content.book-content h1,
  .page-content.post-content h1 {
    float: none;
    margin-bottom: 30px; }
  .page-content.book-content span,
  .page-content.post-content span {
    color: #FFE2F2;
    font-style: italic;
    font-size: 14px;
    float: right; }
  .page-content.book-content .book-description,
  .page-content.post-content .book-description {
    margin-left: 235px; }

.book-wrapper,
.post-wrapper,
.disk-wrapper,
.video-wrapper {
  text-align: center; }

.page-content.post-content .post-wrapper img {
  width: 100%; }

.buy-button {
  margin: 15px 0;
  width: 100px;
  background: aquamarine;
  color: black;
  font-size: 20px;
  border-radius: 0; }
  .buy-button:hover {
    background: #00e598; }

.comments-block {
  background: #F5E7FF;
  padding-top: 50px;
  box-shadow: 0px -2px 10px 1px #301840; }
  .comments-block h1 {
    color: #402D4E !important; }

.page-content.video-content {
  font-size: 18px;
  font-weight: 100;
  color: #EBE6EF;
  line-height: 1.6;
  letter-spacing: 1px; }
  .page-content.video-content img {
    width: 80%;
    height: 500px;
    margin-bottom: 50px; }
  .page-content.video-content h1 {
    float: none;
    margin-bottom: 30px; }
  .page-content.video-content span {
    color: #FFE2F2;
    font-style: italic;
    font-size: 14px;
    float: right; }

.disks-content .disk {
  overflow: hidden;
  position: relative;
  display: inline-block;
  top: 0;
  width: 250px;
  background: white;
  margin: 0 auto 20px;
  opacity: 0;
  cursor: pointer; }
  .disks-content .disk h3 {
    text-align: center; }

.login-block h1,
.register-block h1,
.email-reset-block h1,
.reset-password-block h1 {
  float: none !important; }

.page-content.disk-content {
  font-size: 18px;
  font-weight: 100;
  color: #EBE6EF;
  line-height: 1.6;
  letter-spacing: 1px; }
  .page-content.disk-content h1 {
    float: none;
    margin-bottom: 30px; }
  .page-content.disk-content span {
    color: #FFE2F2;
    font-style: italic;
    font-size: 14px;
    float: right; }
  .page-content.disk-content .disk-description {
    margin-left: 235px; }

.page-content {
  padding-top: 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .page-content .content {
    background: #5A406D;
    box-shadow: 0px 0px 20px 1px #301840;
    padding: 40px;
    margin: 40px 40px 60px;
    max-width: 400px; }
  .page-content .centered > div {
    margin: 20px 0 30px; }
  .page-content .video,
  .page-content .book,
  .page-content .disk {
    left: 0 !important;
    transition: opacity 0.4s ease-in-out;
    opacity: 0; }
  .page-content .meta-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto; }
    .page-content .meta-info .name {
      font-size: 24px; }
    .page-content .meta-info .date {
      font-style: italic;
      color: #978DBB; }
  .page-content h1 {
    float: left;
    color: #FCFFA5;
    text-align: center;
    margin-bottom: 40px; }
  .page-content .description-block {
    margin-bottom: 50px !important; }
    .page-content .description-block p.description {
      background: #5A406D;
      color: #E0E0E0;
      padding: 30px;
      padding-top: 0;
      font-size: 16px;
      line-height: 1.8; }

.posts-content .post {
  left: 0; }

.search {
  text-align: right;
  position: relative;
  margin-bottom: 20px; }
  .search input {
    margin-top: 15px;
    height: 50px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 24px;
    text-align: left !important;
    padding-right: 30px; }
    .search input:focus {
      outline: none !important; }
  .search i {
    font-size: 28px;
    position: absolute;
    top: 25px;
    right: 0;
    cursor: pointer;
    color: #A9A9A9; }
    .search i:hover {
      color: #FFC7E9; }

.pagination-block {
  text-align: center; }
  .pagination-block ul.pagination {
    font-size: 18px; }
    .pagination-block ul.pagination li.active span {
      background: #6A4388; }
  .pagination-block .pagination > li:first-child > a,
  .pagination-block .pagination > li:first-child > span,
  .pagination-block .pagination > li:last-child > a,
  .pagination-block .pagination > li:last-child > span {
    border-radius: 0; }
  .pagination-block .pagination > .active > a,
  .pagination-block .pagination > .active > a:hover,
  .pagination-block .pagination > .active > a:focus,
  .pagination-block .pagination > .active > span,
  .pagination-block .pagination > .active > span:hover,
  .pagination-block .pagination > .active > span:focus {
    border: none !important;
    background: #6A4388;
    color: white !important; }
  .pagination-block .pagination > li > a:hover,
  .pagination-block .pagination > li > a:focus,
  .pagination-block .pagination > li > span:hover,
  .pagination-block .pagination > li > span:focus {
    background: #FF72D4;
    border: none !important;
    color: white; }
  .pagination-block .pagination > .disabled > span,
  .pagination-block .pagination > .disabled > span:hover,
  .pagination-block .pagination > .disabled > span:focus,
  .pagination-block .pagination > .disabled > a,
  .pagination-block .pagination > .disabled > a:hover,
  .pagination-block .pagination > .disabled > a:focus {
    color: #ABABAB;
    background: #FFE2F1; }
  .pagination-block .pagination > li > a,
  .pagination-block .pagination > li > span {
    color: #8152A5;
    border: none;
    background: #FFE2F1; }

.filters {
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #9070A9; }

.bootstrap-select {
  border: 1px solid #AE9DB9;
  margin-bottom: 30px; }
  .bootstrap-select button {
    background: white !important;
    border: none;
    margin: 0 auto;
    display: block; }
  .bootstrap-select .dropdown-menu > li > a:hover,
  .bootstrap-select .dropdown-menu > li > a:focus {
    background: #78598E;
    color: white; }

.reset-password-span {
  display: block;
  text-align: center; }
  .reset-password-span .reset-password {
    color: #dab5f7;
    font-size: 18px;
    text-align: center;
    margin: 20px auto 0;
    display: inline-block; }
    .reset-password-span .reset-password:hover {
      color: #dab5f7; }

input.error {
  border-color: #FFB1B1; }

.error {
  color: #FFB1B1;
  font-weight: 500;
  font-size: 20px; }

*,
*:after,
*::before {
  box-sizing: border-box; }

.ac-custom {
  max-width: 900px;
  margin: 0 auto; }

.ac-custom h2 {
  font-size: 3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0 0 30px; }

.ac-custom ul {
  list-style: none;
  padding: 0;
  margin: 0 auto 30px;
  max-width: 800px; }

.ac-custom li {
  margin: 0 auto;
  position: relative; }

.ac-custom label {
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  padding: 8px 0 0 60px;
  color: #dab5f7;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 100; }

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
  width: 40px;
  height: 40px;
  top: 50%;
  left: 5px;
  margin-top: -16px;
  position: absolute;
  cursor: pointer; }

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100; }

.ac-custom label::before {
  content: '';
  border: 2px solid #fff;
  transition: opacity 0.3s; }

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
  color: #fff; }

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
  opacity: 0.8; }

/* General SVG and path styles */
.ac-custom svg {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  left: 5px;
  pointer-events: none; }

.ac-custom svg path {
  stroke: #fdfcd3;
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; }

::-webkit-input-placeholder {
  color: #A894B7; }

::-moz-placeholder {
  color: #A894B7; }

:-moz-placeholder {
  color: #A894B7; }

:-ms-input-placeholder {
  color: #A894B7; }

.success-alert {
  background: #5A406D;
  color: #72F7BE;
  padding: 15px;
  font-size: 22px;
  text-align: center; }

/*# sourceMappingURL=app.css.map */
