.Button
    display: block
    margin: 0 auto
    border: none
    padding: 0 20px
    height: 50px
    background: $green
    color: white
    font-size: 22px
    font-weight: normal 
    outline: none
    float: right
    transition: all 0.05s ease-in-out
    font-family: 'Roboto Slab', sans-serif
    

    &:hover
        background: $darkGreen
    
    &--subscribe
        background: $orange
        font-weight: 100
        font-size: 16px
        
        &:hover
            
            background: $darkOrange
    
    &--unsubscribe
        background: $red
        font-weight: 100
        font-size: 16px
        
        &:hover
            background: $darkRed

    &--subscribe,
    &--unsubscribe
        @media screen and (max-width: 768px)
            display: none
