.Button
    display: block
    margin: 0 auto
    border: none
    padding: 0 20px
    height: 50px
    background: $yellow
    color: black
    font-size: 22px
    font-weight: normal 
    outline: none
    box-shadow: 0 0 1px 1px $darkGray
    float: right

    &:hover
        background: $darkYellow