.Button
    display: block
    margin: 0 auto
    border: none
    padding: 0 20px
    height: 50px
    background: $green
    color: white
    font-size: 22px
    font-weight: normal 
    outline: none
    float: right
    transition: all 0.05s ease-in-out

    &:hover
        background: $darkGreen
