.Disk
    width: 270px !important
    box-shadow: 0 0 5px 1px #432E51

    &__link
        display: block
        text-decoration: none !important
        position: relative
        color: #6a4388
        &:hover
            color: #6a4388
    
    &__image
        height: 225px

    &__heading
        background white
        font-size: 24px
        text-align left
        padding: 10px 10px
        margin: 0

.Disk-expanded
    display: flex
    flex-wrap: wrap
    
    &__heading
        flex-basis: 100%
    &__date
        flex-basis: 100%
        text-align: center
        font-style: italic
        font-size: 16px
        margin-bottom: 30px
    
    &__wrapper
        text-align: center
        flex: 1
        padding-right: 40px
        
    &__buy
        background: #599062//#6A4388
        border: none
        color: white
        &:hover
            background: #43734B//#432E51
            color: white
        margin: 15px 0
        font-size: 20px
        border-radius: 0

    &__description
        display: inline
        flex: 6 
        
    &__image
        display: inline-block
        box-shadow: 0 0 5px 1px #432e51
        
    @media screen and (max-width: 768px)
        &__wrapper
            text-align: center
            flex-basis: 100%
            padding-right: 0