.Gallery
    lost-center: 100%
    max-width: 480px

    > div
        display: flex
        justify-content: center
        lost-waffle: 1/1 1 10px

        @media screen and (min-width: 768px)
            lost-waffle: 1/2 2 20px

        @media screen and (min-width: 994px)
            lost-waffle: 1/3 3 30px

        @media screen and (min-width: 1300px)
            lost-waffle: 1/3 3 40px

@media screen and (min-width: 768px)
    .Gallery
        max-width: 768px

@media screen and (min-width: 994px)
    .Gallery
        max-width: 994px

@media screen and (min-width: 1300px)
    .Gallery
        max-width: 1300px