.Page
    color: black
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    min-height: calc(100vh - 128px)
    background: $darkestBlue
    padding: 80px 0

    &__heading
        flex-basis: 100%
        text-align: center
        font-family: 'Lobster', cursive
        font-size: 48px
        margin: 30px 0 20px 0
        position: relative
        color: $darkBlue
        
        &--sub
            font-size: 36px

        &--yellow
            color: $yellow

    &__text
        font-family: 'Open Sans', sans-serif
        font-weight: normal
        color: $darkGray 

    &__content 
        background: $lightGray
        margin: 30px 120px 0
        font-size: responsive 14px 18px
        
        &--transparent
            background: none

        &--with-padding
            padding: 30px

        @media screen and (max-width: 768px)
            margin: 30px 30px

    &__image
        width: 300px
        float: left
        margin: 0 30px 30px 0

        @media screen and (max-width: 994px)
            float: none
            display: block
            margin: 0 auto 30px

        &--book
            width: 250px

        &--avatar
            width: 350px

            @media screen and (max-width: 994px)
                width: 300px

    &__button
        display: block
        margin: 0 auto
        border: 1px solid #A894B7
        padding: 0 20px
        height: 50px
        width: 100%
        background: none
        color: #A894B7
        font-size: 22px
        outline: none
        
        &:hover
            color: white
            border-color: white
