.Post
    max-width: 300px !important
    margin: 0 auto

    &__heading
        margin: 0 0 20px 0
        color: black

    &__info
        text-align: left
        height: 300px
        font-size 14px
        padding: 20px
        display: flex
        flex-direction: column
        justify-content: space-between

    &__meta
        color: rgba(0,0,0,0.5)
        text-align: right
    
    &__button
        background: $lightBlue
        border: none
        
        &:hover
            background: #432E51
    
.Post-expanded
    &__date
        text-align: center
        font-style: italic
        font-size: 16px
        
    &__image
        display: block
        max-width: 80%
        margin: 30px auto
        box-shadow: 0 0 5px 1px #432e51