.Post
    lost-waffle: 1/1 1 10px
    width: 300px !important
    background white
    box-shadow: 0 0 7px 0px #432e51

    &__heading
        margin: 0 0 20px 0
        color: #5a406d

    &__info
        text-align: left
        height: 300px
        font-size 14px
        padding: 20px
        display: flex
        color: #5a406d
        flex-direction: column
        justify-content: space-between

    &__meta
        color: #B29FC1
        text-align: right
    
    &__button
        background: #6A4388
        border: none
        &:hover
            background: #432E51
    
    // &--expanded

@media screen and (min-width: 768px)
    .Video
        lost-waffle: 1/2 2 20px

@media screen and (min-width: 994px)
    .Video
        lost-waffle: 1/3 3 30px

@media screen and (min-width: 1300px)
    .Video
        lost-waffle: 1/3 3 40px