.Post
    lost-waffle: 1/1 1 10px
    width: 300px !important
    background white
    // box-shadow: 0 0 3px 0px #432e51
    box-shadow: 0 0 5px 1px #432e51

    &__heading
        margin: 0 0 20px 0
        color: #5a406d

    &__info
        text-align: left
        height: 300px
        font-size 14px
        padding: 20px
        display: flex
        color: #5a406d
        flex-direction: column
        justify-content: space-between

    &__meta
        color: #B29FC1
        text-align: right
    
    &__button
        background: #6A4388
        border: none
        &:hover
            background: #432E51
    
.Post-expanded
    &__date
        text-align: center
        font-style: italic
        font-size: 16px
        
    &__image
        display: block
        max-width: 80%
        margin: 30px auto