.Section
    padding: 50px 0
    text-align: center
    background: #f5e7ff
    
    &__heading
        color: #483358
        margin-bottom: 40px
        flex-basis: 100%

    &--is-purple
        background: #6A4388

        .Section__heading
            color: #fffdba