.Section
    padding: 50px 0 100px
    text-align: center
    background: white
    
    &__heading
        color: $darkerBlue
        margin-bottom: 40px
        flex-basis: 100%
        font-family: 'Lobster', cursive
        font-size: 48px

    &--is-purple
        background: $darkerBlue

        .Section__heading
            color: #fffdba
