.Social
    padding: 0
    margin-bottom: 0
    list-style: none
    &__item
        width: 45px
        height: 45px
        margin-right: 20px
        color: $gray
        
        &:last-child
            margin-right: 0
    
    &__link
        display: inline-block
        width: 100%
        height: 100%
        border-radius: 50%
        background: $gray
        padding-top: 7px
        cursor: pointer
        color: white
        
        &:hover
            color: white
        
        &--facebook
            background: #3C5A92
            &:hover
                background: darken(#3C5A92, 20%)
        
        &--youtube
            background: #C82F31
            &:hover
                background: darken(#C82F31, 20%)
        
        &--google
            background: #E04A39
            &:hover
                background: darken(#E04A39, 20%)

    &__icon
        font-size: 32px

    &__copiright
        font-size: 16px