.Video
    width: 270px !important
    /*box-shadow: 0 0 5px 1px #432E51*/
    overflow: hidden
    margin: 0 auto

    &__link
        display: block
        text-decoration: none !important
        position: relative
        color: #6a4388
        &:hover
            color: #6a4388

    &__image
        height: 225px

    &__heading
        font-size: 16px
        text-align center
        padding: 10px 10px
        margin: 0
        color: black

.Video-expanded
    &__date
        text-align: center
        font-style: italic
        font-size: 16px

    &__description
        font-family: 'Open Sans', sans-serif
        font-weight: normal
        width: 90%
        color: #696969
        background: $lightGray
        padding: 30px 50px 50px
        line-height: 1.6
        margin: 0 auto 50px
        @media screen and (max-width: 768px)
            margin: 0 auto
            padding: 20px
