.Video
    width: 270px !important
    /*box-shadow: 0 0 5px 1px #432E51*/
    overflow: hidden
    margin: 0 auto

    &__link
        display: block
        text-decoration: none !important
        position: relative
        color: #6a4388
        &:hover
            color: #6a4388

    &__image
        height: 225px

    &__heading
        font-size: 16px
        text-align center
        padding: 10px 10px
        margin: 0
        color: black

.Video-expanded
    &__date
        text-align: center
        font-style: italic
        font-size: 16px

    &__description
        margin: 50px
        @media screen and (max-width: 768px)
            margin: 20px
