$blue = #0078DC 
$lightBlue = lighten($blue, 45%)
$darkBlue = darken($blue, 30%)
$darkerBlue = darken($blue, 50%)
$darkestBlue = darken($blue, 70%)
$lightGray = #f8f8f8
$gray = #E7E7E7
$darkGray = #717171
$yellow = #fffdba
$darkYellow = darken($yellow, 35%)
$green = #74B364 
$darkGreen = darken($green, 40%)
$red = #FF5252
$lightRed = lighten($red, 20%)
$darkRed = darken($red, 40%)
$orange = #E47E00
$darkOrange = darken($orange, 20%)
