$blue = #1F4667
$lightBlue = #3E76A5
$darkBlue = #0C2F4C
$lightGray = #f8f8f8
$gray = #E7E7E7
$darkGray = #717171
$yellow = #fffdba
$darkYellow = darken($yellow, 35%)
$green = #37BC9B
$darkGreen = darken($green, 35%)
$pageHeading = #66849C