$blue = #004077
$lightBlue = lighten($blue, 15%)
$darkBlue = darken($blue, 30%)
$lightGray = #f8f8f8
$gray = #E7E7E7
$darkGray = #717171
$yellow = #fffdba
$darkYellow = darken($yellow, 35%)
$green = #24B700//#37BC9B
$darkGreen = darken($green, 40%)
$red = #FF5252
$lightRed = lighten($red, 20%)
$darkRed = darken($red, 40%)
$orange = #E47E00
$darkOrange = darken($orange, 20%)