body
    font-family: 'Roboto Slab', serif

nav
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: #FBFBFB
    height: 50px
    z-index: 1000
    border-bottom: 1px solid #E6E6E6

.nav-inner
    height: 50px
    padding-top: 3px

.nav-list
    margin: 0
    padding: 0
    height: 50px

.nav-list-item
    display: inline-block
    padding: 0
    margin: 0

a
    text-decoration: none
    color: black

    &:hover
        color: black

.nav-list-link
    padding: 10px
    font-weight: 300
    font-size: 16px
    display: inline-block

    &:hover
        color: #1EAEDB

.logo
    font-size: 28px
    font-weight: 100
    display: inline-block

.logo-icon
    margin-right: 10px

main
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    flex-wrap: wrap
    text-align: center
