@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic")

.header
    input::placeholder
        color: #EFEFEF

    textarea::placeholder
        color: #EFEFEF

input::placeholder
    color: #9C9C9C

textarea::placeholder
    color: #9C9C9C

html
    height: 100%



body
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 100%
    font-family: 'Roboto Slab', serif
    background: $lightBlue


.logo
    font-family: 'Lobster', cursive
    color: $darkRed !important
    font-size: 40px

    &__footer
        text-decoration: none !important
        color: $gray !important

.resource
    text-align: center
    transition: all 0.4s ease-in-out//cubic-bezier(0.51, 0.43, 0.44, 1.15)
    transform: scale(0)
    overflow: hidden
    // margin: 0 auto
    background: #ECECEC

.visible
    transform: scale(1)