@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic")

input::placeholder
    color: $darkGray 

textarea::placeholder
    color: $darkGray 


html
    min-height: 100vh


.padding
    padding: 0 50px 50px

    @media screen and (max-width: 768px)
        padding: 0 10px 10px

body
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 100%
    font-family: 'Roboto Slab', serif
    background: $darkestBlue

a
    text-decoration: none !important

.logo
    font-family: 'Lobster', cursive
    color: white !important
    font-size: 40px

    &__footer
        text-decoration: none !important
        color: $gray !important

.resource
    text-align: center
    transition: all 0.4s ease-in-out//cubic-bezier(0.51, 0.43, 0.44, 1.15)
    transform: scale(0)
    overflow: hidden
    margin-bottom: 30px
    background: #ECECEC

.visible
    transform: scale(1)

.filter-name
    color: $orange
