.about
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%

    &__avatar
        height: 200px
        display: inline-block
        position: relative
        border: 1px solid #A9A9A9
        margin: 0 40px 30px 0

    &__bio
        flex: 1
        text-align: left
        font-size: responsive 14px 18px
        font-weight 100

    @media screen and (max-width: 994px)
        padding: 30px
        
        &__avatar
            margin-left: 40px

        &__bio
            flex-basis: 100%
            text-align: left
