.header
    // min-height: 700px
    width: 100vw
    color: white
    font-family: 'Roboto Slab'//'Lobster', cursive
    // background: url(../img/backgroundMain.jpg)
    background-repeat: no-repeat
    background-size: contain
    background-position: right center
    padding: 50px
    text-align: center
    
    @media screen and (max-width: 994px)
        padding: 50px 10px

    &__container
        display: flex
        flex-wrap: wrap
        margin-top: 50px
        width: auto

        > div
            lost-column: 1/2 2 0
            
            @media screen and (max-width: 994px)
                lost-column: 1/1 1 0
                text-align: center



    &__iframe
        max-width: 100%
        position: relative
        margin: 0 auto 50px
    
    &__iframe__ratio
        width: 100%
        


    &__about
        font-size: 20px
        font-weight: 100
        text-align: left
    

    &__heading
        margin-top: 0
        font-size: 32px
        color: white
        text-transform: uppercase

    &__button
        background: $yellow
        color: black
        border-radius: 0
        font-size: 24px
        margin-top: 20px
        
        &--subscription
            background: $green
            
            &:hover
                background: $darkGreen

        &:hover
            background: $darkYellow

    &__buttons
        display: flex
        font-size: 24px
        margin-top: 50px
        bottom: 50px

    &__quote
        text-align: center
        font-size: 20px
        color: white
        
    