.header
    position: relative
    min-height: 600px
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    &__heading
        display: none
        font-size: 28px
        font-weight: bold
        text-align: center
        color: #FEFB8E
        text-transform: uppercase
        text-shadow: 5px 5px 5px black

    &__quote
        text-align: center
        font-size: 20px
        color: white
        
    &__arrow
        display: none
        font-size: 48px
        font-weight: 100
        position: absolute
        bottom: 60px
        left: 50% 
        width: 60px
        height: 60px 
        margin-left: -25px
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        -ms-border-radius: 50%
        border-radius: 50%
        animation: bounce 2s infinite
        -webkit-animation: bounce 2s infinite
        -moz-animation: bounce 2s infinite
        -o-animation: bounce 2s infinite
        padding-left: 12.5px
        color: #D7B3F3
    
    @media screen and (min-width : 480px)

        &__heading
            font-size: 36px

        &__quote
            font-size 24px 
    
    @media screen and (min-width : 768px)

        &__heading
            font-size: 48px

        &__quote
            font-size 36px
    
    @media screen and (min-width : 920px)

        &__heading
            font-size: 72px

        &__quote
            font-size 48px